   <script>
    var current_user = "<%= current_user.email %>"
  </script>


<h1><%= @item.name %></h1>
<p><%= @item.description %></p>
<p><%= @item.price %></p>
<p><%= link_to "#{@item.restaurant.name}", restaurant_path(@item.restaurant.id) %></p>
<h3>Reviews:</h3>
<script type="text/javascript">
	var item_id = "<%= @item.id %>"
</script>

<div class="all-review-container">
<% @item.reviews.each do |review| %>
<p>Review: <%= review.body %></p>
<p>Rating: <%= review.rating%></p>
<% user = review.user.email %>
<p>User: <%= user %></p>
<% end %>
</div>

<div class="new-review-container">

</div>


<button id="add-review-button">Add Review and Rating!</button>


<%= form_with(model: @item, :html => {:id => "review_form"},local: true) do |item|%>
<% if @item.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@item.errors.count, "error") %> prohibited this review from being saved:</h2>

	<ul>
		<% @item.errors.full_messages.each do |message| %>
		<li><%= message %></li>
		<% end %>
	</ul>
</div>
<% end %>


<%= fields_for :reviews do |review| %>

<div class="form-group-row">
	<label class="col-md-2 col-form-label"><%= review.label :review %></label>
	<div id="review-body" class="col-md-10">
		<textarea type="text" class="form-control" cols='10', rows='5'<%= review.text_field :body%></textarea>
	</div>
</div>
<div id="review-rating" class= "form-group col-md-10 row">
	<label for="rating">Rating:</label>
	<%= review.select :rating, options_for_select([1, 2, 3, 4, 5]) %>
</div>
<% end %>
<div class="actions">
	<%= item.submit "Add Review!" %>
</div>
<% end %>





